.home {
    padding-top: calc(1 / 2 * 100%); /* aspect ratio 2:1 */
    background-size: cover;
    background-position: center;
  }

  .name {
    /* overlay the inner <div> exactly on top of its parent */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .name > h1 {
    font-size: 50px;
    font-family:'Trebuchet MS';
  }